
<h1 class="product-title">Edit {{category?.name}} category</h1>
  <a class="btn btn-primary" routerLink="/admin/categories">Back to categories</a>
  <br><br>
  <form novalidate #f="ngForm" (ngSubmit)="editCategory(f)">
    <input type="hidden" name="catId" [(ngModel)]="catId">
    <div class="form-group">
        <label for="">Name:</label>
        <input type="text" class="form-control" placeholder="name" name="name" [(ngModel)]="name" #categoryName="ngModel"
            minlength="3" required />
    </div>
    <div class="alert alert-danger" *ngIf="categoryName.errors?.required && categoryName.touched">
        Name is required.
    </div>
    <div class="alert alert-danger" *ngIf="categoryName.errors?.minlength && categoryName.touched">
        Minimum length is 3.
    </div>
    <div class="form-group">
        <button class="btn btn-default" [disabled]="!f.valid">Edit category</button>
    </div>
</form>