<app-admin-profile></app-admin-profile>
  <h1 class="product-title">Products</h1>
  <a class="btn btn-primary" routerLink="/admin/add-product">Add a product</a>
  <br><br>
  <table class="table">
    <tr bgcolor="#f9f9f9">
        <th>Title</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr *ngFor="let product of products.value">
        <td>
            {{ product.title }}
        </td>
        <td>
            <a routerLink="/admin/edit-product/{{product.prodId}}">Edit</a>
        </td>
        <td>
            <a (click)="deleteProduct(product.prodId)" routerLink="/admin/products">Delete</a>
        </td>
    </tr>
  </table>
  