
<h1 class="product-title">Edit {{product?.name}} product</h1>
<a class="btn btn-primary" routerLink="/admin/products">Back to all products</a>
<br><br>
<form novalidate #f="ngForm" (ngSubmit)="editProduct(f)">
    <input type="hidden" name="prodId" [(ngModel)]="prodId">
  <div class="form-group">
      <label for="">Title:</label>
      <input type="text" class="form-control" placeholder="Title" name="title" [(ngModel)]="title" #productTitle="ngModel"
          minlength="3" required />
  </div>
  <div class="alert alert-danger" *ngIf="productTitle.errors?.required && productTitle.touched">
      Title is required.
  </div>
  <div class="alert alert-danger" *ngIf="productTitle.errors?.minlength && productTitle.touched">
      Minimum length is 3.
  </div>
  <div class="form-group">
      <label for="">Description:</label>
      <textarea class="form-control" name="description" cols="30" rows="10" placeholder="Description" 
      [(ngModel)]="description"></textarea>
  </div>
  <div class="form-group">
    <label for="">Price:</label>
    <input type="number" class="form-control" placeholder="Price" name="price" [(ngModel)]="price" required />
  </div>
  <div class="form-group">
    <label for="">Category</label>
    <select type="number" class="form-control"  [(ngModel)]="catId" name="catId" required > 
      <option *ngFor="let category of categories" [ngValue]="category.catId">{{category?.name}}</option>
    </select>
  </div> 
  <div class="form-group">
      <button class="btn btn-default" [disabled]="!f.valid">Edit product</button>
  </div>
</form>